APP_NAME=helpdesk-backend
APP_PORT=3335
APP_HOST=127.0.0.1
EXCEPTION_FILTER_LOG=true
APP_KEY=UhkY9Kvd21N08nbYhfCqGv42

## JWT
APP_JWT_EXPIRES_IN=24d
APP_JWT_SECRET=b3CRK6de2je4x455d4m94d4ce8d4ldvX6m9sd

## Database Config
APP_DB_HOST=localhost
APP_DB_PORT=3306
APP_DB_NAME=bobrain_db
APP_DB_USERNAME=root
APP_DB_PASSWORD=root225

APP_JWT_INACTIVE_SESSION_TTL=900000


## Email Config

APP_EMAIL_USER=bahiboris11@gmail.com
APP_EMAIL_PASSWORD=pysn hjpu kbkd cmry
APP_EMAIL_HOST=smtp.gmail.com
APP_EMAIL_PORT=587

APP_CORS_ORIGIN=none
APP_DISABLE_HELMET=true


## BASE URL
APP_BASE_URL=http://172.16.10.12:3335
IMAGE_PATH=uploads/products

DEFAULTDINING=Dinein